<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantalla 11 - Final</title>
  <link href="../assets/styles/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/styles/shared.css" rel="stylesheet">
  <link href="../assets/styles/final.css" rel="stylesheet">
</head>

<body class="bg-gradient">


  <main class="final-main text-center">

    <!-- Mensaje -->
    <p class="final-text">
      Si quieres aprender más sobre cómo aprovechar la inteligencia artificial para ser más competitivo,
      puedes llenar el formulario escaneando el código QR.
    </p>

    <!-- QR -->
    <div class="qr-container">
      <img
        src="../assets/images/QR-Unlock.jpeg"
        alt="Formulario QR">
    </div>

    <!-- Cursos con bracket decorativo -->
    <div class="courses-section">
      <div class="courses-info text-start">
        <h4>AI FOR PROFESSIONALS:</h4>
        <h5>FROM GEN AI TO AGENTS</h5>
        <div class="courses-wrapper">
          <ul class="courses-list">
            <li><span class="badge">1</span> GenAI Skills</li>
            <li><span class="badge">2</span> AI Agents Essentials</li>
            <li><span class="badge">3</span> AI Agents Optimization & Scaling</li>
          </ul>
        </div>
      </div>
    </div>

  </main>

  <!-- Footer -->
  <footer class="final-footer">
    <div class="footer-content">
      <a href="./01-welcome.html">
        <img
          src="https://res.cloudinary.com/dmddi5ncx/image/upload/v1759286999/samples/unlockIA/unlock-icon-white_g2zgx4.png"
          alt="Unlock AI by Kodigo" class="footer-logo">
      </a>
      <p class="footer-link">Ai.kodigo.org</p>
    </div>
  </footer>

  </main>

  <script src="../assets/scripts/bootstrap.bundle.min.js"></script>
  <script>
    let timeout = setTimeout(() => {
      window.location.href = './01-welcome.html';
    }, 20000); // 20 segundos

    document.addEventListener('click', () => {
      clearTimeout(timeout);
      timeout = setTimeout(() => {
        window.location.href = './01-welcome.html';
      }, 20000);
    });
  </script>

</body>

</html>